@import url('https://fonts.googleapis.com/css?family=Catamaran');
body{
	margin: 2px 20px;
	font-family: "Catamaran";
}

/* Background styles. */

.background-dark{
	background: #222233;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.background-light{
	background: #ddddee;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

/* Styles for buttons */

.button-light{
	background: #bbeeff;
	font-family: "Catamaran";
}
