@import url('https://fonts.googleapis.com/css?family=Catamaran');
body{
	margin: 2px 20px;
	font-family: "Catamaran";
}

/* Background styles. */

.background-dark{
	background: #222233;
	background-attachment: fixed;
	background-repeat: no-repeat;
}
.background-light{
	background: #ddddee;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

/* Styles for buttons */

.button-light{
	background: #bbeeff;
	font-family: "Catamaran";
}

/* Styles for text. */

.text{
	color: #bbeeff;
	font-size: 100%;
	text-shadow: 0em 0em 0.3em #3399ff;
	transition: 0.5s;
}
.text:hover{
	text-shadow: 0em 0em 0.5em #eeee00;
	transition: 1s;
}
.text-large{
	color: #bbeeff;
	font-size: 150%;
	text-shadow: 0em 0em 0.3em #3399ff;
	transition: 0.5s;
}
.text-large:hover{
	text-shadow: 0em 0em 0.5em #eeee00;
	transition: 1s;
}
